{% extends "layout.njk" %}

{% block body %}
<a href="/">Home</a>
<h1>{{ title }}</h1>

<br />

<h3>Top 10 posters</h3>

<table>
{% for user in top_posters %}
  <tr>
    <td>{{ user.count }}</td><td>{{ user.screen_name }}</td>
  </tr>
{% endfor %}
</table>
  
<br />

<h3>Top 10 hashtags</h3>
  
<table>
{% for hashtag in top_hashtags %}
  <tr>
    <td>{{ hashtag.count }}</td><td>{{ hashtag.text }}</td>
  </tr>
{% endfor %}
</table>

<br />

<h3>Top 10 retweeted or mentioned users</h3>
  
<table>
{% for user in top_rm %}
  <tr>
    <td>{{ user.count }}</td><td>{{ user.screen_name }}</td>
  </tr>
{% endfor %}
</table>


<br />

<h3>Top 10 organisations (linked to in users' descriptions)</h3>
  
<table>
{% for org in top_orgs %}
  <tr>
    <td>{{ org.count }}</td><td>{{ org.screen_name }}</td>
  </tr>
{% endfor %}
</table>

<br />

<p><a href="/tracker/{{ tracker.id }}/connections">List connections between twitter users</a></p>
<p><a href="/tracker/{{ tracker.id }}/connections.json">Export connections (json)</a></p>

{% endblock %}
