{% extends "layout.njk" %}

{% block body %}
<a href="/">Home</a>
<h1>{{ title }}</h1>

<table>
{% for user in top_posters %}
<tr>
  <td>{{ user.count }}</td><td>{{ user.screen_name }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
